body{
    background-color:rgb(182, 230, 173);
}

.container{
    height: 420px;
    width: 700px;
    background-color: purple;
    margin: 0px auto;
    border-radius: 20px 20px 0px 0px;
    margin-top: 50px;
}

.div-1{
    display: flex;
    justify-content: space-between;
}
.div-1-2{
    margin-top: 40px;
}

.image-style{
    border-radius: 20px;
    margin: 0px;
}
.bln{
    font-size: 20px;
    font-weight: bold,21;
    
}
.bln-1{
    font-size: 50px;
    font-weight: bold;
}
.box{
    height: 150px;
    width: 400px;
    background-color: rgb(0, 255, 85);
    border-radius: 15px;
  
}

.box-div{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.div-padding{
padding: 15px;
padding-top: 40px;
}

.last-div{
    margin-top: 40px;
    background-color: rgb(0, 174, 255);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
   
}

.edittext{
    text-align: center;
}

.inner-div{
    height: 85px;
    border-radius: 19px;
    background-color: aqua(255, 255, 255);
    width: 700px;
    margin-top: 20px;
    position: relative;
    display:none;
    
    /* display: flex;
    justify-content: center;
    align-items: center; */
} 
.table-style{
    width: 100%;
    background-color: rgb(255, 0, 128);
    border: 3px dashed black;
     text-align: center;
    padding: 5px 10px;
    
   
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    margin-left: auto;
    margin-right: auto;


}




